.btn-more-info {
	display: inline;
	float: right;
	margin: 20px 0px;
}

.weather-container {
	border-bottom: 1px solid black;
	border-top: 1px solid black;
	margin: 20px 0px;
	padding: 5px 0px;
}

.weather-data {
	display: inline-block;
}